<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form class="user" method="POST">
        {% csrf_token %}
        <div class="form-group row">
        </div>
        <div class="form-group">
            <input type="text" name="nickname" class="form-control form-control-user"
                id="exampleInputEmail" placeholder="Enter Your NickName">
        </div>
        <div class="form-group">
            <input type="text" name="id" class="form-control form-control-user"
                id="exampleInputEmail" placeholder="Enter Your ID">
        </div>
        <div class="form-group row">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" name="pass" class="form-control form-control-user"
                    id="exampleInputPassword" placeholder="Password">
            </div>
            <div class="col-sm-6">
                <input type="password" name="repeat" class="form-control form-control-user"
                    id="exampleRepeatPassword" placeholder="Repeat Password">
            </div>
        </div>
        <input type="submit" class="btn btn-primary btn-user btn-block" value="회원가입">
        <hr>
    </form>
</body>
</html>