/myvenv
.DS_Store
platformdance/media/video
platformdance/media/
platformdance/media/thumbnail

platformdance/media/thumbnail/jong.jpeg
testuser/db.sqlite3
testuser/manage.py
testuser/accounts/__init__.py
testuser/accounts/admin.py
testuser/accounts/apps.py
testuser/accounts/forms.py
testuser/accounts/models.py
testuser/accounts/tests.py
testuser/accounts/views.py
testuser/accounts/__pycache__/__init__.cpython-38.pyc
testuser/accounts/__pycache__/admin.cpython-38.pyc
testuser/accounts/__pycache__/apps.cpython-38.pyc
testuser/accounts/__pycache__/forms.cpython-38.pyc
testuser/accounts/__pycache__/models.cpython-38.pyc
testuser/accounts/__pycache__/views.cpython-38.pyc
testuser/accounts/migrations/__init__.py
testuser/accounts/migrations/0001_initial.py
testuser/accounts/migrations/__pycache__/__init__.cpython-38.pyc
testuser/accounts/migrations/__pycache__/0001_initial.cpython-38.pyc
testuser/accounts/templates/home.html
testuser/accounts/templates/login.html
testuser/accounts/templates/signup.html
testuser/testuser/__init__.py
testuser/testuser/asgi.py
testuser/testuser/settings.py
testuser/testuser/urls.py
testuser/testuser/wsgi.py
testuser/testuser/__pycache__/__init__.cpython-38.pyc
testuser/testuser/__pycache__/settings.cpython-38.pyc
testuser/testuser/__pycache__/urls.cpython-38.pyc
testuser/testuser/__pycache__/wsgi.cpython-38.pyc
