@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Gothic+A1&display=swap');

*{
    font-family: 'Gothic A1', sans-serif;
    font-size: 16px;
}

#news_title{
    color:white;
    font-size:3rem;
    text-align: center;
    width:100%;
    margin:100px 0 100px 0;
}

#news_content{
    background-color: lightgray;
    margin: 5% 10% 5% 10%;
    color:black;
}

#news_img_section{
    width:100%;
    text-align: center;
}

#news_img_section > img{
    width:400px;
    height:300px;
}

#news_contnet_section{
    
    
}

