{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <a href="{% url 'index' %}">CHOO:OOM</a>
            <!--플랫폼 이름-->
        </header>
        <section>
            <!--전체 큰 틀-->
            <p class="sign_in">Please Sign In</p>
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <input type="text" name="username" class="" placeholder="Id" required> Email address
                <!-- <input type="email" placeholder="Email address" required> -->
                <!--Email address-->
                <input type="password" name="password" placeholder="Password" required>
                <!--password-->
                <input type="checkbox" name="checkbox" id="rem">
                <!--아이디 기억 체크박스-->
                <label for="rem">Remember Me</label>
                <input type="submit" value="Login">
                <!--Login 버튼-->
            </form>
            <p>
            <p class="login_with">Login with</p>
            <p class="icons">
                <a href="#" target="blank" class="kakao_icon"><img src="{% static 'img/kakao_icon.png' %}" width="30"
                        height="30"></a>
                <a href="#" target="blank" class="google_icon"><img src="{% static 'img/google_icon.png' %}" width="30"
                        height="30"></a>
                <a href="#" target="blank" class="facebook_icon"><img src="{% static 'img/facebook_icon.png' %}"
                        width="30" height="30"></a>
            </p>
            </p>
            <a href="../forgot_password/forgot_password.html" target="blank" class="forgot_password">Forgot
                Password?</a>
            <!--비밀번호 찾기-->
            <p style="padding: 10px; display: inline-block; color:white;">|</p>
            <!--회원가입-->
            <a href="{% url 'signup' %}" class="sign_up">Sign Up</a>
        </section>
        <footer>
            2022 Key. All Rights Reserved | Design By 서연이는 19살
        </footer>
    </div>
</body>

</html>