<!-- 다른 오류 메세지 출력 방법 : 인터넷 검색 -->
{% if form.errors %}
    {% for field in form %}
        {% for error in field.errors %}
            <!-- 필드 오류를 출력한다. -->
            <div>
                <strong>{{ field.label }}</strong>
                {{ error }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for error in form.non_field_errors %}
        <!-- 넌필드 오류를 출력한다. -->
        <div>
            <strong>{{ error }}</strong>
        </div>
    {% endfor %}
{% endif %}

<!-- 다른 오류 메세지 출력 방법 : 장고 공식 문서 -->
{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}