{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
    <form action="{% url 'signup' %}" method="POST">
        {% csrf_token %}
        <div class="left_container">
            <header>
                <a href="{% url 'index' %}">CHOO:OOM</a>
            </header>
            <div class="level">
                <p>당신의 춤 실력은?</p>
                <label>상<input type="radio" name="user_level" value="upper"></label>
                <label>중<input type="radio" name="user_level" value="middle"></label>
                <label>하<input type="radio" name="user_level" value="lower"></label>
            </div>
        </div>
        <div class="right_container">
            <section>
                <p>회원 가입</p>
                <input type="text" name="username" placeholder="아이디" required>
                <input type="password" name="password" placeholder="비밀번호" required>
                <input type="password" name="repeat" placeholder="비밀번호 확인" required>
                <!-- 여기부터는 userProfile 모델에 작성해야함 -->
                <input type="text" name="nickname" placeholder="이름" required>
                <!-- <input type="text" name="birth" placeholder="생년월일" required> -->
                <input type="submit" value="가입 하기">
    </form>
    </section>
    <footer>
        2022 Key. All Rights Reserved | Design By 서연이는 19살
    </footer>
    </div>
</body>

</html>