{% load static %}
<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
</head>

<body>
    <div class="container">
        <header>
            <a href="javascript:window.history.back();" style="position: relative; right: 400px;"><img
                    src="{% static 'img/goto_back.png' %}" width="35" height="30"></a>
            <a href="{% url 'index' %}"
                style="font-family: 'DM Serif Display', serif; position: relative; right: 15px;">CHOO:OOM</a>
            <!--플랫폼 이름-->
        </header>
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <section>
                <!--전체 큰 틀-->
                <p class="inform">ID</p>
                <input type="text" name="username" placeholder="Enter your ID" required>
                <p class="inform">Password</p>
                <input type="password" name="password" placeholder="비밀번호를 입력해주세요" required>
                <p class="inform">Confirm Password</p>
                <input type="password" name="repeat" placeholder="비밀번호를 다시한번 입력해주세요" required>
                <p class="inform">Name</p>
                <input type="text" name="nickname" placeholder="What is your name?" required>
                <p class="inform">Date</p>
                <p class="Date">
                    <input type="text" placeholder="YYYY" style="float: left; margin-right: 25px;">
                    <input type="text" placeholder="MM">
                    <input type="text" placeholder="DD" style="float: right; margin-left: 25px;">
                </p>
                <p class="inform">What's your Dance Level?</p>
                <input type="submit" value="Join">
            </section>
        </form>
        <footer>
            2022 Key. All Rights Reserved | Design By 서연이는 19살
        </footer>
    </div>
</body>

</html>