*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
    background-color: black;
}
.mainbox {
    background-image: url('wallpaper.png');
    width: 1000px;
    height: 1500px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid white;
    box-shadow: 0 1px 50px 0 rgb(255, 255, 255);
    background-color: none;
}
.header{
    height: 160px;
    text-align: center;
    backgroing-color: thistle;
    box-sizing: border-box;
    border-bottom: 1px solid #999;
    background-color: none;
}

.header__logo h1{
    front: bold 40px 'arial';
    padding-top: 14px;
    letter-spacing: 2px;
    color: white;
}

.header__logo p{
    font: bold 12px 'arial';
    letter-spacing: 2px;
    color: white;
    
}
.header__search{
    float: right;
}
.header__login {
    
    font: bold 12px 'arial';
    letter-spacing: 2px;
    color: white;
    float: right;
}
.header__login button{
    
    font: bold 12px 'arial';
    letter-spacing: 2px;
    color: white;
    float: right;
}
.header__login input{
  
    font: bold 12px 'arial';
    letter-spacing: 2px;
    color: white;
    float: right;
}
.header__login p{
    margin: 10px;
    font: bold 12px 'arial';
    letter-spacing: 2px;
    color: white;
    float: right;
}


.header__gnb ul{
    margin-top: 60px;
}

.header__gnb ul li{
    display: inline-block;
}
.header__gnb ul li a{
    display: block;
    font: bold 14px 'arial';
    color: #999;
    margin: 0px 16px;
    letter-spacial: 1px;
}

.header__main1 ul{
    margin-top: 100px;
}

.header__main1 ul li{
    display: inline-block;
    float: left;
}
.header__main1 ul li a{
    display: block;
    font: bold 50px 'arial';
    color: white;
    margin: 0px 16px;
    letter-spacial: 1px;
    
}

.header__main2 ul{
    margin-top: 100px;
    
}

.header__main2 ul li{
    display: inline-block;
   
}
.header__main2 ul li a{
    display: block;
    font: bold 50px 'arial';
    color: white;
    margin: 0px 16px;
    letter-spacial: 1px;
    background-color: none;
}

.box1{
    margin: 30px;
    padding: 10px;
    display: inline-block ;
    border: 1px solid white;
    background-color: black;
    width: 900px; 
    height: 100px;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);
}
.box2, .box3, .box4, .box5{
    margin: 50px;
    padding: 10px;
    display: inline-block ;
    border: 1px solid white;
    background-color: black;
    width: 90px ; 
    height: 100px;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);
}
