* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url('login_image.jpg');
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: auto;
    width: 500px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

section {
    width: 100%;
    margin: 10px auto 40px;
}

section p {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color:white;
}

section input[placeholder] {
    font-size: .8rem;
    padding: 8px;
    width: 100%;
    border: .5px solid #ddd;
    outline: none;
    transition: box-shadow.5s;
}

section input[placeholder]::placeholder {
    font-size: .8rem;
}

section input:nth-of-type(1) {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

section input:nth-of-type(2) {
    border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

section input[type="checkbox"] {
    margin-top: .5rem;
    transform: scale(.7);
    transform-origin: center center;
}

section label {
    display: inline-block;
    font-size: .7rem;
    transform: translateY(-20%);
    margin-left: -5px;
    color: white;
}

section input[type="submit"] {
    display: block;
    width: 100%;
    border: 1px solid black;
    margin-top: 1.5rem;
    padding: .3rem;
    border-radius: 5px;
    font-size: .8rem;
    background-color: #FB646B;
    color: white;
    outline: none;
    transition: all .5s;
}

section input[type="submit"]:hover {
    background-color: deepskyblue;
    border: 1px solid deepskyblue;
}

section input:nth-of-type(-n+3):focus {
    box-shadow: 0 0 0 2px rgba(0,0,255,.3);
    position: relative;
}

footer {
    font-size: .6rem;
    color: white;
}