프로젝트 시작 22/07/14 <br>
<a href="{% url 'index' %}">go to home</a><br>
<a href="{% url 'login' %}">go to login</a><br>
<a href="{% url 'postcreate' %}">go to postcreatefomm</a><br>
<br>
<hr>
<br>

{% if check %}
    <div>
        <h1>카카오 로그아웃</h1>
        <form action="/kakaoLogout" method="GET">
            <input type="submit" value="카카오 로그아웃 및 연결 끊기">
        </form>
    </div>
{% else %}
    <div>   
        <h1>카카오 로그인</h1>
        <form action="/kakaoLoginLogic" method="GET">
            <input type="submit" value="카카오 로그인">
        </form>
    </div>
{% endif %}

<hr>
<h4>github 쓰기 어렵다여</h4>



