{% extends 'base.html' %}
{% block content %}
{% load static %}
<section id = "aboutUs-section">
    <p id="aboutUs-title">Who We Are</p>
    <div>
        <p style="font-size:30px;">We live to discover</p>
        <p style="font-size:50px;color:#FF5656">Untold Originals.</p>
        <div id="aboutUs-contents">
            <p style="font-weight:800;margin-bottom:33px;line-height:30px;">진정한 독창성이란 무엇일까?</p>
            <div class="aboutUs-detail-content">
                CHOO:OOM은 그 답을 찾기 위해 1995년부터 끝없는 여정을 시작했습니다. 놓쳐서는 안될 드라마, 시상식을 휩쓰는 영화, 매일 챙겨 보고 싶은 리얼리티 프로그램등을 제작하며 독창적인 영역을 개척해온 CHOO:OOM은 차세대 K-팝스타를 발굴하고 새로운 돌풍을 일으킬 애니메이션과 미국의 브로드웨이와 영국의 웨스트엔드, 다른 아시아 지역을 포함한 세계 무대에 선보일 수 있는 수준 높은 뮤지컬을 제작하여 그 무대를 점점 더 넓히고 있습니다. 진정한 독창성은 나이와 세대, 언어의 장벽마저 뛰어넘습니다. 새로운 캐릭터와 스토리에 모두가 공감할 때 우리는 하나가 됩니다.
            </div>
            <div class="updown-line"></div>
            <div class="aboutUs-detail-content">
                낯선 것에서 찾아낸 공감대를 사랑하고 그 과정에서 기쁨을 느끼는 CHOO:OOM은 우리만의 독창적인 것, Untold Originals를 찾아 오늘도 끝없는 여정을 이어갑니다.
            </div>
        </div>
    </div>
</section>
{% endblock %}
