{% extends 'base.html' %}
{% block content %}
{% load static %}
<script>
    var enrollPerson = 0;
</script>
<link rel="stylesheet" href="{% static 'css/course_detail.css' %}">
<!-- <link rel="stylesheet" href="{% static 'css/classdetail.css' %}"> -->
<!-- 여기부터 클래스 디테일 -->
<p style="margin-left:360px;font-size:35px; color:white;font-weight: 600;margin-bottom: 60px;margin-top:50px;">
    {{ course.title }}
</p>

<div id="class_info_section">
    <!-- <img src="image/video/1.jpg" > -->
    {% if course.photo %}
    <img id="class_img" src="{{ course.photo.url }}">
    {% else %}
    <h4>No Course Photo</h4>
    {% endif %}
</div>

<div id="class_date">
    <h3>장르</h3>
    <p>{{ course.genreName }}</p>
    <h3>소개</h3>
    <p>
        {{ course.body }}
    </p>
    <!-- <p>`Aomg의 수장이자 댄서 박재범, 본인만의 독보적인 춤 세계를 구축하다'
        뮤지션 박재범의 음악적 영감의 원천과 루트, 작업기를 함께 따라가 보며
        자신만의 기준과 정체성을 가지고 독보적인 음악을 만들어낼 방법에 대한 이야기를 듣는다.
    </p> -->
    <hr>
    <br />
    <h3>선생님</h3>
    <p>{{ course.userId.username }} </p>
    <h3>Date/Time</h3>
    <h3>날짜</h3>
    <p>{{ course.startDate }}</p><br>
    <h3>시간</h3>
    <p>오후 5시 - 오후 10시</p><br>
    <h3>경력</h3>
    <p>{{ course.userId.danceSkill }}</dpv><br><br/>
        <!-- coursecreate.html에 시간을 입력받는 폼도 필요 -->
    <h3>수강 장소</h3>
    <p>{{ course.location }}</p><br>
</div>

{% for user in course.register_user.all %}
<script>
    enrollPerson += 1;
</script>
{% endfor %}

<div id="apply">
    <form action="{% url 'regCourse' course.id %}" method="POST">
        {% csrf_token %}
        <div id="enroll_person"></div>
        <div>
            {% if request.user in course.register_user.all %}
            <input type="submit" id="submitBtn" value="신청취소">
            {% else %}
            <input type="submit" id="submitBtn" value="신청하기">
            {% endif %}
        </div>
    </form>
    </style>
</div>
<script>
    const enroll_person = document.querySelector('#enroll_person');
    enroll_person.innerText = `${enrollPerson}명이 참여했습니다.`;
</script>
{% endblock %}