{% extends 'base.html' %}
{% block content %}
{% load static %}
<div id="class-section">
    <span style="color:white;font-size:24px;margin-left:360px">Class</span>
    <ul>
        <li id="dance-class2" style="margin-left:100px"><a href="{% url 'genre_course' %}?genre_id=1">Hip Hop</a></li>
        <li id="dance-class2"><a href="{% url 'genre_course' %}?genre_id=2">Locking</a></li>
        <li id="dance-class2"><a href="{% url 'genre_course' %}?genre_id=3">Waacking</a></li>
        <li id="dance-class2"><a href="{% url 'genre_course' %}?genre_id=4">B-Boying</a></li>
        <li id="dance-class2"><a href="{% url 'genre_course' %}?genre_id=5">House</a></li>
        <li id="dance-class2"><a href="{% url 'genre_course' %}?genre_id=6">Krump</a></li>
        <li id="dance-class2"><a href="{% url 'genre_course' %}?genre_id=7">Popping</a></li>
        <li id="dance-class2"><a href="{% url 'genre_course' %}?genre_id=8">Choreography</a></li>
    </ul>
</div>

<!-- 여기에 힙합 등 장르 소개 들어감 -->
<div id="genre-banner-section">
    <!-- <img src="../static/img/bboybanner.png" alt=""> -->
</div>
<div style="display:flex; align-items: cneter;">
    <span id="genre_name" style="font-size:30px;font-weight:500;color:white;margin-left:360px;">장르 이름</span>
    <pre  id="genre_comment" style="font-size:20px;display:inline-block;margin-left:209px; color:white;">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
        Quae asperiores maiores, repellat, veritatis voluptatum 
        doloremque voluptates earum quod, ea non ex similique facilis 
        sapiente deleniti aliquid labore nulla. Nesciunt, ipsam.
    </pre>
</div>
<!-- 장르 소개 끝 -->

<!--이미지 슬라이더 -->
<div id="detail-class-section" style="text-align: center;"><h2 style="color: white;">Best 10 Class</h2></div>
<div id="image-slider">
    <img src="{% static 'img/white_arrow_left.png' %}" class="prev" />
    <div class="carousel-wrapper">
        <div class="carousel">
            <a href="course_detail/1" class="carousel-a"><img src="{% static 'img/tumbnail/hiphop.jpeg' %}"
                alt=""></a>
            <a href="course_detail/2" class="carousel-a"><img src="{% static 'img/tumbnail/locking.jpeg' %}"
                alt="">
            </a>
            <a href="course_detail/3" class="carousel-a"><img src="{% static 'img/tumbnail/waacking.jpeg' %}"
                alt="">
            </a>
            <a href="course_detail/4" class="carousel-a"><img src="{% static 'img/tumbnail/Bboying.jpg' %}"
                alt="">
            </a>
            <a href="course_detail/5" class="carousel-a"><img src="{% static 'img/tumbnail/house.png' %}"
                alt="">
            </a>
            <a href="course_detail/6" class="carousel-a"><img src="{% static 'img/tumbnail/crump.jpeg' %}"
                alt="">
            </a>
            <a href="course_detail/7" class="carousel-a"><img src="{% static 'img/tumbnail/poping.jpeg' %}"
                alt="">
            </a>
            <a href="course_detail/8" class="carousel-a"><img src="{% static 'img/tumbnail/choregraphy.jpeg' %}"
                alt="">
            </a>
            <!-- {% for course in courses %}
            {% if course.photo %}
            <a href="{% url 'course_detail' course.id %}" class="carousel-a"><img src="{{ course.photo.url }}"
                    alt=""></a>
            {% endif %}
            {% endfor %} -->
        </div>
    </div>
    <img src="{% static 'img/white_arrow_right.png' %}" class="next" />
</div>

<div id="genre-class">
    <div id="class-name-section">
        <span id="class-name"  style="margin-top: 40px;"></span>
        &nbsp;&nbsp;
        <img src="{% static 'img/orange_arrow.png' %}" />
    </div>
    <div id="slider-section">
        <img src="{% static 'img/white_arrow_left.png' %}" />
        <span style="color:white;font-size: 20px;">&nbsp; 1 / 6 &nbsp;</span>
        <img src="{% static 'img/white_arrow_right.png' %}" />
    </div>

    <div id="detail-class-section">
        {% for course in courses %}
        {% if course.photo %}
        <a href="{% url 'course_detail' course.id %}" id="detail-class-section-a"><img src="{{ course.photo.url }}"
                alt=""></a>
        {% endif %}
        {% endfor %}

    </div>
</div>


<script type="text/javascript">
    const classNameText = document.getElementById("class-name")
    let name = new URL(location).searchParams.get("genre_id");
    const genreClass = document.querySelector("#genre-class");
    const danceClassList = document.querySelectorAll('#dance-class2');
    const genre_name = document.querySelector('#genre_name');
    const genre_comment = document.querySelector('#genre_comment');
    if (name === "1") {
        classNameText.innerText = "Hip Hop";
        genreClass.style.display = "block"
        danceClassList[0].childNodes[0].style.color="white";
        genre_name.innerText = "Hip Hop"
        document.querySelectorAll('#dance-class2').forEach(item => {
            console.log(item.children[0].style)
            if (item.innerText === "Hip Hop") {
                // item.style.border = "1px solid white";
                // item.style.backgroundColor = "black";
                // item.children[0].style.color = "white";
                genre_comment.innerText = "힙합 코멘트"
                item.children[0].style.textDecoration = "none";
            }
        })
    } else if (name === "2") {
        classNameText.innerText = "Locking";
        genreClass.style.display = "block";
        danceClassList[1].childNodes[0].style.color="white";
        genre_name.innerText = "Locking"
        document.querySelectorAll('#dance-class2').forEach(item => {
            if (item.innerText === "Locking") {
                // item.style.border = "1px solid white";
                // item.style.backgroundColor = "black";
                // item.children[0].style.color = "white";
                genre_comment.innerText = "락킹 코멘트"
                item.children[0].style.textDecoration = "none";
            }
        })
    }
    else if (name === "3") {
        classNameText.innerText = "Waacking";
        genreClass.style.display = "block"
        danceClassList[2].childNodes[0].style.color="white";
        genre_name.innerText = "Waacking"
        document.querySelectorAll('#dance-class2').forEach(item => {
            if (item.innerText === "Waacking") {
                // item.style.border = "1px solid white";
                // item.children[0].style.color = "white";
                genre_comment.innerText = "왁킹 코멘트"
                item.children[0].style.textDecoration = "none";
            }
        })
    }
    else if (name === "4") {
        classNameText.innerText = "B-Boying";
        genreClass.style.display = "block"
        danceClassList[3].childNodes[0].style.color="white";
        genre_name.innerText = "B-Boying"
        document.querySelectorAll('#dance-class2').forEach(item => {
            if (item.innerText === "B-Boyibg") {
                // item.style.border = "1px solid white";
                // item.style.backgroundColor = "black";
                // item.children[0].style.color = "white";
                genre_comment.innerText = "비보잉 코멘트"
                item.children[0].style.textDecoration = "none";
            }
        })
    }
    else if (name === "5") {
        classNameText.innerText = "House";
        genreClass.style.display = "block"
        danceClassList[4].childNodes[0].style.color="white";
        genre_name.innerText = "House"
        document.querySelectorAll('#dance-class2').forEach(item => {
            if (item.innerText === "House") {
                // item.style.border = "1px solid white";
                // item.style.backgroundColor = "black";
                // item.children[0].style.color = "white";
                genre_comment.innerText = "하우스 코멘트"
                item.children[0].style.textDecoration = "none";
            }
        })
    }
    else if (name === "6") {
        classNameText.innerText = "Krump";
        genreClass.style.display = "block"
        danceClassList[5].childNodes[0].style.color="white";
        genre_name.innerText = "Krump"
        document.querySelectorAll('#dance-class2').forEach(item => {
            if (item.innerText === "Crump") {
                // item.style.border = "1px solid white";
                // item.style.backgroundColor = "black";
                // item.children[0].style.color = "white";
                genre_comment.innerText = "크럼프 코멘트"
                item.children[0].style.textDecoration = "none";
            }
        })
    }
    else if (name === "7") {
        classNameText.innerText = "Popping";
        genreClass.style.display = "block"
        danceClassList[6].childNodes[0].style.color="white";
        genre_name.innerText = "Poping"
        document.querySelectorAll('#dance-class2').forEach(item => {
            if (item.innerText === "Popping") {
                // item.style.border = "1px solid white";
                // item.style.backgroundColor = "black";
                // item.children[0].style.color = "white";
                genre_comment.innerText = "파핑 코멘트"
                item.children[0].style.textDecoration = "none";
            }
        })
    }
    else if (name === "8") {
        classNameText.innerText = "Choreography";
        genreClass.style.display = "block"
        danceClassList[7].childNodes[0].style.color="white";
        genre_name.innerText = "Choregrahpy"
        document.querySelectorAll('#dance-class2').forEach(item => {
            if (item.innerText === "Choreography") {
                // item.style.border = "1px solid white";
                // item.style.backgroundColor = "black";
                // item.children[0].style.color = "white";
                genre_comment.innerText = "코멘트"
                item.children[0].style.textDecoration = "none";
            }
        })
    }
    else {

        genreClass.style.display = "none"
    }
    // 이미지 슬라이더 스크립트
    const prevButton = document.querySelector('.prev');
    const nextButton = document.querySelector('.next');
    const carousel = document.querySelector('.carousel');
    let index = 0;

    prevButton.addEventListener('click', () => {
        if (index === 0) {
            index = 7;
        } else {
            index -= 1;
        }
        carousel.style.transform = `translate3d(-${600 * index}px, 0, 0)`;
    });

    nextButton.addEventListener('click', () => {
        if (index === 7) {
            index = 0;
        } else {
            index += 1;
        }
        carousel.style.transform = `translate3d(-${600 * index}px, 0, 0)`;
    });


</script>
{% endblock %}