{% extends 'base.html' %}
{% block content %}
{% load static %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Gothic+A1:wght@700;900&display=swap');

    * {
        margin: 0;
        padding: 0;
        background-color: black;
    }

    body {
        display: flex;
        flex-direction: column;
        color: white;
        flex-wrap: nowrap;
    }

    #secBestVideo {
        margin-top: 3rem;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    #secBestVideo p {
        width: 236px;
        font-family: 'DM Serif Display', serif;
        font-size: 40px;
        color: white;
    }

    /* 이미지 슬라이더 css */
    .carousel-wrapper {
        width: 623px;
        height: 500px;
        overflow: hidden;
        display: inline-block;
        margin-left: 100px;
        margin-right: 100px;
    }

    .carousel-wrapper>.carousel {
        display: flex;
        transform: translate3d(0, 0, 0);
        transition: transform 0.2s;
    }

    .carousel-wrapper>.carousel>.carousel-a>img {
        width: 623px;
        height: 454px;
        border-radius: 20px;
    }

    #image-slider {
        margin-top: 61px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .prev {
        width: 23px;
        height: 43px;
        cursor: pointer;
    }

    .next {
        width: 23px;
        height: 43px;
        cursor: pointer;
    }


    #secButtons {
        margin-top: 10rem;
    }

    #secButtons div {
        display: flex;
        flex-wrap: nowrap;
        text-align: center;
        justify-content: center;
        margin-bottom: 57px;
    }

    .classButton {
        width: 242px;
        height: 71px;
        background-color: white;
        border-radius: 21px;
        margin-right: 70px;
    }

    .classButton a {
        display:block;
        padding-top: 10px;
        width: 242px;
        height: 71px;
        text-decoration: none;
        background-color: #ffffff00;
        color: black;
        font-family: 'DM Serif Display', serif;
        font-size: 32px;
    }

    .genre-active {
        background-color: rgb(0, 0, 0);
        color: white;
        border: 2px solid rgb(255, 255, 255);
    }

    #secVideos {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 181px;
        margin-bottom: 141px;

    }

    #divGenre {
        width: 1200px;
        margin-bottom: 56px;
    }

    #divGenre #genreName {
        color: white;
        margin-right: 36px;
        font-size: 32px;
        font-family: 'DM Serif Display', serif;
    }

    #secVideos .divVideos {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-left: 15%;
    }

    #secVideos .divVideo {
        margin-right: 1rem;
        margin-bottom: 2rem;
        font-family: 'Gothic A1', sans-serif;
    }

    .divVideo .videoThumbnail {
        width: 381px;
        height: 284px;
    }

    .divVideo .videoInfo {
        color: #F6F6F6;
        font-size: 20px;
        margin-top: 34px;
    }

    .divVideo .videoViewNumber {
        color: #868686;
        font-size: 16px;
        margin-top: 18px;
    }

    #showMore {
        width: 441px;
        height: 115px;
        background-color: #FF5656;
        border-radius: 30px;
        color: white;
        font-size: 36px;
        font-family: 'Gothic A1', sans-serif;
        margin-top: 149px;
        margin-bottom: 370px;
    }

    #showMore img {
        width: 28px;
        height: 28px;
        background-color: hsla(0, 0%, 100%, 0);
        margin-right: 14px;
    }
</style>
</head>

<body>
    <section id="secBestVideo">
        <p>Best 10 Video</p>
        <!-- 이미지 슬라이더 -->
        <div id="image-slider">
            <img src="{% static 'img/white_arrow_left.png' %}" class="prev" />
            <div class="carousel-wrapper">
                <div class="carousel">
                    <a href="{% url 'post_detail' hits_toplists.0.id %}" class="carousel-a"><img src="{{ hits_toplists.0.photo.url }}" alt=""></a>
                    <a href="{% url 'post_detail' hits_toplists.1.id %}" class="carousel-a"><img src="{{ hits_toplists.1.photo.url }}" alt=""></a>
                    <a href="{% url 'post_detail' hits_toplists.2.id %}" class="carousel-a"><img src="{{ hits_toplists.2.photo.url }}" alt=""></a>
                    <a href="{% url 'post_detail' hits_toplists.3.id %}" class="carousel-a"><img src="{{ hits_toplists.3.photo.url }}" alt=""></a>
                    <a href="{% url 'post_detail' hits_toplists.4.id %}" class="carousel-a"><img src="{{ hits_toplists.4.photo.url }}" alt=""></a>
                    <a href="{% url 'post_detail' hits_toplists.5.id %}" class="carousel-a"><img src="{{ hits_toplists.5.photo.url }}" alt=""></a>
                    <a href="{% url 'post_detail' hits_toplists.6.id %}" class="carousel-a"><img src="{{ hits_toplists.6.photo.url }}" alt=""></a>
                    <a href="{% url 'post_detail' hits_toplists.7.id %}" class="carousel-a"><img src="{{ hits_toplists.7.photo.url }}" alt=""></a>
                </div>
            </div>
            <img src="{% static 'img/white_arrow_right.png' %}" class="next" />
        </div>
    </section>

    <section id="secButtons">
        <div>
            <!-- 여기 a 태그 넣어서 css 깨짐 이것만 수정 부탁해 자바스크립트도 에러인듯-->
            <button class="classButton" id="btn1"><a href="{% url 'genre_post' %}?genre_id=1" class="carousel-a">Hip-Hop</a></button>
            <button class="classButton" id="btn2"><a href="{% url 'genre_post' %}?genre_id=2" class="carousel-a">Locking</a></button>
            <button class="classButton" id="btn3"><a href="{% url 'genre_post' %}?genre_id=3" class="carousel-a">Waacking</a></button>
            <button class="classButton" id="btn4"><a href="{% url 'genre_post' %}?genre_id=4" class="carousel-a">B-Boying</a></button>
        </div>
        <div>
            <button class="classButton" id="btn5"><a href="{% url 'genre_post' %}?genre_id=5" class="carousel-a">House</a></button>
            <button class="classButton" id="btn6"><a href="{% url 'genre_post' %}?genre_id=6" class="carousel-a">Krump</a></button>
            <button class="classButton" id="btn7"><a href="{% url 'genre_post' %}?genre_id=7" class="carousel-a">Popping</a></button>
            <button class="classButton" id="btn8"><a href="{% url 'genre_post' %}?genre_id=8" class="carousel-a">Choreography</a></button>
        </div>
        <!-- 여기까지 수정 요소 -->
    </section>

    <section id="secVideos" style="display:none;">
        <div id="divGenre">
            <span id="genreName">genre name</span>
            <a href=""><img src="{% static 'img/orange_arrow.png' %}" /></a>
            <div id="blank"></div>
        </div>

        <div class="divVideos">
            <!-- 포문 시작 -->
            {% for post in posts %}
            <div class="divVideo" id="divVideo1">
                {% if post.photo %}
                <a href="{% url 'post_detail' post.id %}">
                    <img class="videoThumbnail" src="{{ post.photo.url }}">
                </a>
                <a href="{% url 'post_detail' post.id %}">
                    <p class="videoInfo">{{ post.title }}</p>
                    <p class="videoViewNumber">조회수 {{ post.hits }}</p>
                </a>
                {% else %}
                <!-- 이미지 없음 -->
                {% endif %}
            </div>
            {% endfor %}
        </div>
        <button id="showMore"><img src="{% static '/img/plus.png' %}">Show more</button>
    </section>

</body>

<script type="text/javascript">
    let name = new URL(location).searchParams.get("genre_id"); // genre_id
    let secVideos = document.getElementById('secVideos');
    var currentGenre = 0;
    var genreName = document.getElementById('genreName'); // 장르 이름
    var orangeArrow = document.querySelector('#divGenre a');
    var link = orangeArrow.href; // 오렌지색 화살표 링크

    function changeGenre(){
        var currentText = currentGenre.querySelector("a");
        currentGenre.style.backgroundColor = "black";
        currentText.style.color = "white";
        currentGenre.style.border = "2px solid #ffffff";
        secVideos.style.display = 'flex';
    }
    if (name === "1") {
        genreName.innerText = "Hip Hop";
        currentGenre = document.getElementById("btn1");
        changeGenre();
    } else if (name === "2") {
        genreName.innerText = "Locking";
        currentGenre = document.getElementById("btn2");
        changeGenre();
    }
    else if (name === "3") {
        genreName.innerText = "Waacking";
        currentGenre = document.getElementById("btn3");
        changeGenre();
    }
    else if (name === "4") {
        genreName.innerText = "B-Boyibg";
        currentGenre = document.getElementById("btn4");
        changeGenre();
    }
    else if (name === "5") {
        genreName.innerText = "House";
        currentGenre = document.getElementById("btn5");
        changeGenre();
    }
    else if (name === "6") {
        genreName.innerText = "Krump";
        currentGenre = document.getElementById("btn6");
        changeGenre();
    }
    else if (name === "7") {
        genreName.innerText = "Popping";
        currentGenre = document.getElementById("btn7");
        changeGenre();
    }
    else if (name === "8") {
        genreName.innerText = "Choreography";
        currentGenre = document.getElementById("btn8");
        changeGenre();
    }
    else {
        genreClass.style.display = "none"
    }

    /*
    // 버튼 클릭 장르별 비디오 나오게
    var currentGenre; // 선택한 장르
    var genre = document.querySelectorAll('#secButtons button');

    var genreName = document.getElementById('genreName'); // 장르 이름
    var orangeArrow = document.querySelector('#divGenre a');
    var link = orangeArrow.href; // 오렌지색 화살표 링크
    console.log(link.tagName)

    let secVideos = document.getElementById('secVideos');

    function changeGenre() {
        secVideos.style.display = 'flex';
        genreName.innerText = currentGenre.innerText;
        link = "#"
    }

    function inactive(elem) {
        elem.classList.remove('genre-active');
    }
    function active(elem) {
        elem.classList.add('genre-active');
        console.log(elem);
        currentGenre = elem;
        changeGenre();
    }
    */

    function clickHandler(e) {
        if (currentGenre)
            inactive(currentGenre);
        active(e.target);
        // window.scrollTo({ top: document.body.scrollHeight / 2.7, behavior: 'smooth' });
    }

    /*
    for (let i = 0; i < genre.length; i++) {
        genre[i].addEventListener('click', clickHandler);
    }
    */


    // 이미지 슬라이더 스크립트
    const prevButton = document.querySelector('.prev');
    const nextButton = document.querySelector('.next');
    const carousel = document.querySelector('.carousel');
    const maxIndex = 7;
    let index = 0;

    prevButton.addEventListener('click', () => {
        if (index === 0) {
            index = 7;
        } else {
            index -= 1;
        }
        carousel.style.transform = `translate3d(-${623 * index}px, 0, 0)`;
    });

    nextButton.addEventListener('click', () => {
        if (index === 7) {
            index = 0;
        } else {
            index += 1;
        }
        carousel.style.transform = `translate3d(-${623 * index}px, 0, 0)`;
    });
</script>
{% endblock %}