{% extends 'base.html' %}
{% block content %}
{% load static %}
    <!--이미지 슬라이더 -->
<div id="image-slider">
    <img src="{% static 'img/white_arrow_left.png' %}" class="prev"/>
    <div class="carousel-wrapper">
        <div class="carousel">
        {% for post in likes_top_ten %}
            {% if post.photo %}
            <img src="{{ post.photo.url }}" alt="">
            {% endif %}
        {% endfor %}
        <!-- <img
            src="https://images.unsplash.com/photo-1602808180309-2e0c62986635?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt=""
        /> -->
        <!-- <img
            src="https://images.unsplash.com/photo-1583434987437-1b9dcbe44c9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt=""
        />
        <img
            src="https://images.unsplash.com/photo-1603052227529-e8ed43c7af99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
            alt=""
        /> -->
    </div>
  </div>
  <img src="{% static 'img/white_arrow_right.png' %}" class="next"/>
</div>

<div style="margin-left:400px;margin-top:183px;">
    <div id="dance-class"><a href="{% url 'genre_course' %}?genre_id=1">Hip-Hop</a></div>
    <div id="dance-class"><a href="{% url 'genre_course' %}?genre_id=2">Locking</a></div>
    <div id="dance-class"><a href="{% url 'genre_course' %}?genre_id=3">House</a></div>
    <div id="dance-class"><a href="{% url 'genre_course' %}?genre_id=4">B-Boying</a></div>
    <br/>
    <div id="dance-class"><a href="{% url 'genre_course' %}?genre_id=5">Waacking</a></div>
    <div id="dance-class"><a href="{% url 'genre_course' %}?genre_id=6">krump</a></div>
    <div id="dance-class"><a href="{% url 'genre_course' %}?genre_id=7">Popping</a></div>
    <div id="dance-class"><a href="{% url 'genre_course' %}?genre_id=8">Choreography</a></div>
</div>
<div id="genre-class">
    <div id="class-name-section">
        <span id="class-name"></span>
        &nbsp;&nbsp;
        <img src="{% static 'img/orange_arrow.png' %}" />
    </div>
    <div id="slider-section">
        <img src="{% static 'img/white_arrow_left.png' %}" />
        <span style="color:white;font-size: 20px;">&nbsp; 3 / 6 &nbsp;</span>
        <img src="{% static 'img/white_arrow_right.png' %}" />
    </div>

    <div id="detail-class-section">
        <img src="{% static 'img/sample_jpark.png' %}" />
        <img src="{% static 'img/sample_jpark.png' %}" />
        <img src="{% static 'img/sample_jpark.png' %}" />
        <img src="{% static 'img/sample_jpark.png' %}" />
    </div>
</div>


<script type="text/javascript">
    const classNameText = document.getElementById("class-name")
    let name = new URL(location).searchParams.get("genre_id");
    const genreClass = document.querySelector("#genre-class");

    if(name){
        classNameText.innerText = name;
        genreClass.style.display = "block"
        document.querySelectorAll('#dance-class').forEach(item=>{
            if(item.innerText === name){
                item.style.border = "1px solid white";
                item.style.backgroundColor = "black";
                item.style.color = "white";
            }
        })
    }else{
        
        genreClass.style.display = "none"
    }
    // 이미지 슬라이더 스크립트
    const prevButton = document.querySelector('.prev');
    const nextButton = document.querySelector('.next');
    const carousel = document.querySelector('.carousel');
    let index = 0;

    prevButton.addEventListener('click', () => {
        if (index === 0){
            index=2;
        }else{
            index -= 1;
        }
        carousel.style.transform = `translate3d(-${600 * index}px, 0, 0)`;
    });

    nextButton.addEventListener('click', () => {
        if (index === 2) {
            index=0;
        }else{
            index += 1;
        }
    carousel.style.transform = `translate3d(-${600 * index}px, 0, 0)`;   
    });

    //클래스 선택 스크립트
    // const className = document.querySelectorAll('#dance-class').forEach((item)=>{
    //     item.addEventListener('click',()=>{
    //         document.location.href= `/classes?name=${item.innerText}`
    //     })
    // })
    
</script>
{% endblock %}