{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Index.html Page</h1>
    
    
    {% if request.user.is_authenticated %}
    <h1>현재 userId : {{request.user}}</h1>
    <h4><a href="{% url 'logout' %}">Logout</a></h4>
    {% else %}
    <h4><a href="{% url 'login' %}">Login</a></h4>
    {% endif %}
    <h4><a href="{% url 'login' %}">Login</a></h4>
    <h4><a href="{% url 'signup' %}">SignUp</a></h4>

    <h1>파일 업로드</h1>
    <h4><a href="{% url 'postcreate' %}">PostCreate</a></h4>

    <h1>원하는 장르 포스트만 보기</h1>
    <h4><a href="{% url 'genre_post' %}?genre_id=1">힙합 포스트 보기</a></h4>
    <h4><a href="{% url 'genre_post' %}?genre_id=2">락킹 포스트 보기</a></h4>
    <h4><a href="{% url 'genre_post' %}?genre_id=3">왁킹 포스트 보기</a></h4>
    <h4><a href="{% url 'genre_post' %}?genre_id=4">비보잉 포스트 보기</a></h4>
    <h4><a href="{% url 'genre_post' %}?genre_id=5">하우스 포스트 보기</a></h4>
    <h4><a href="{% url 'genre_post' %}?genre_id=6">크럼프 포스트 보기</a></h4>
    <h4><a href="{% url 'genre_post' %}?genre_id=7">팝핑 포스트 보기</a></h4>
    <h4><a href="{% url 'genre_post' %}?genre_id=8">코레오그레피 포스트 보기</a></h4>

    <hr>
    <h1>start</h1>
    <hr>
        순위 1 : {{ rank1.title }}
    <hr>
    <table border="1">
        {% for like_top_ten in likes_top_ten %}
        <tr>
            <td>{{ like_top_ten.userId }}출력 : {{ like_top_ten }}</td>
            <td>{{ like_top_ten.body }}</td>
            <td>{{ like_top_ten.genreName }}</td>
            <td>
                {% if like_top_ten.photo %}
                {{ like_top_ten.photo.url }}
                <img src="{{ like_top_ten.photo.url }}" alt="" width="30%">
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
    <h1>End</h1>

    <div>
        <table border="1">
            <tr>
                <th>userId</th>
                <th>userId_id</th>
                <th>title</th>
                <th>body</th>
                <th>uploadDate</th>
                <th>updateDate</th>
                <th>img</th>
                <th>video</th>
                <th>수정</th>
                <th>삭제</th>
                <th>댓글</th>
                <th>likes</th>
                <th>장르</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'user_post_detail' post.userId_id %}">{{ post.userId }}</a></td>
                <td>{{ post.userId_id }}</td>
                
                <td>{{ post.body }}</td>
                <td>{{ post.uploadDate }}</td>
                <td>{{ post.updateDate }}</td>
                <td>
                    {% if post.photo %}
                    {{ post.photo }} <br>
                    <img style="width: 30%;" src="{{ post.photo.url }}" alt="">
                    {% endif %}
                </td>
                <td>
                    {% if post.video %}
                    {{ post.video }} <br>
                    <!-- <video width="30%" src="{{ post.video.url }}" controls></video> -->
                    {% endif %}
                </td>
                <td>
                    {% if request.user.is_authenticated %}
                    {% if post.userId == request.user %}
                    <form action="{% url 'modify_post' post.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="modify_post" value="수정">
                    </form>
                    {% endif %}
                    {% endif %}
                </td>
                <td>
                    {% if request.user.is_authenticated %}
                    {% if post.userId == request.user %}
                    <form action="{% url 'delete_post' post.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="delete_post" value="삭제">
                    </form>
                    {% endif %}
                    {% endif %}
                </td>

                <td>
                    {% if request.user.is_authenticated %}
                    <form method="POST" action="{% url 'new_comment' post.id %}">
                        {% csrf_token %}

                        {{ comment_form.as_p }}

                        <input type="submit" value="댓글 입력">
                    </form>
                    {% endif %}

                    {% for comment in post.comment_set.all %}
                    <table style="border : 1px solid black;">
                        <tr>
                            <td>유저아이디</td>
                            <td>뎃굴이 표시될거빈다</td>
                        </tr>
                    </table>
                    {{ comment.userId }} - {{ comment }}
                    {% if request.user == comment.userId %}
                    <form action="{% url 'delete_comment' comment.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="delete_comment" value="삭제">
                    </form>
                    {% endif %}
                    <br>
                    {% endfor %}
                </td>
                <td>
                    <form action="{% url 'likes' post.id %}" method="">
                        {% csrf_token %}
                        <p>
                            좋아요 수 : {{ post.likes_count }}
                        </p>
                        {% if request.user in post.likes_user.all %}
                        <input type="submit" value="dislike">
                        {% else %}
                        <input type="submit" value="like">
                        {% endif %}
                    </form>
                </td>
                <td>
                    <p>장르 : {{ post.genreName.id }}</p>
                    <p>장르 ID : {{ post.genreName.name }}</p>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</body>

</html>