{% extends 'base.html' %}
{% block content %}
{% load static %}

<p style="margin-left:20%; color:white;margin-top: 1rem; margin-bottom:1rem;">
    <img src="{% static 'img/maindanceword.png' %}" width="35%" alt="">
</p>

<div id="banner-section">
</div>
<div id="main-title-intro">
    <!-- <span style="font-size:2rem; font-weight:bold; color:white; margin-left:20%; width: 50rem; border: 1px solid red;">Who we are</span> -->
    <span>Who we are</span>
    <p>
        낯선 것에서 찾아낸 공감대를 사랑하고 그 과정에서 기쁨을 느끼는 CHOO:OOM은
        우리만의 독창적인 것, Untold Originals를찾아 오늘도 끝없는 여정을 이어갑니다.
    </p>
</div>


<div id="detail-section">
    Featured Contents
    &nbsp;&nbsp;
    <img src="{% static 'img/orange_arrow.png' %}" />
    <div id="slider-section">
        <img src="{% static 'img/white_arrow_left.png' %}" />
        <span style="color:white;font-size: 20px;">&nbsp; 3 / 6 &nbsp;</span>
        <img src="{% static 'img/white_arrow_right.png' %}" />
    </div>
</div>

<div id="detail-class-section">
    {% for post in posts %}
    {% if post.photo %}
    <a href="{% url 'post_detail' post.id %}" id="detail-class-section-a">
        <img src="{{ post.photo.url }}" alt="ㅁㄴㅇㅁㄴㅇ">
    </a>
    <!-- 장고 주석 처리 -->
    {% comment %}
    {% else %}
    <img src="#" alt="NO_Img">
    {% endcomment %}
    <!-- 장고 주석 처리 끝 -->
    {% endif %}
    {% endfor %}
</div>


<div id="news-event-section">
    <div style="margin-bottom:24px;font-size:32px;margin-left:360px">
        NEWS & EVENT
        &nbsp;&nbsp;
        <img src="{% static 'img/orange_arrow.png' %}" />
    </div>
    <div style="font-size:20px;color:#717171;margin-left:360px">
        CHOO:OOM의 새로운 소식, 지금 바로 확인해보세요
        <span style="float:right;margin-right:360px;">
            <img src="{% static 'img/black_arrow_left.png' %}" />
            <span style="font-size: 20px;">&nbsp; 1 / 6 &nbsp;</span>
            <img src="{% static 'img/black_arrow_right.png' %}" />
        </span>
    </div>
    <table id="news-table">
        <tbody>
            <tr id="main_news">
                <td rowspan="4" style="width: 600px; height: 650px;">
                    <!-- <img style="width:784px; height:650px" src="{% static 'img/sample_chungha.png' %}" /> -->
                    <div style="height:100%;width:100%;" >
                        <img style="height:100%;" src="{% static 'img/sample_chungha.png' %}" />
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="height:200px;width:200px;background-color: lightgray;">
                    </div>
                </td>
                <td>
                    <div style="height:200px;width:200px;background-color: lightgray;">
                    </div>
                </td>

            </tr>
            <tr>
                <td>
                    <div style="height:200px;width:200px;background-color: lightgray;">
                    </div>

                </td>
                <td>
                    <div style="height:200px;width:200px;background-color: lightgray;">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div style="height:200px;width:200px;background-color: lightgray;">
                    </div>
                </td>
                <td>
                    <div style="height:200px;width:200px;background-color: lightgray;">
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<script>
    const news_main = document.querySelector('#main_news');
    news_main.addEventListener('click',()=>{
        location.href="/news"
    })
</script>
{% endblock %}