<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Index.html Page</h1>
    {% if request.user.is_authenticated %}
    {{request.user}}
    <h4><a href="{% url 'logout' %}">Logout</a></h4>
    {% else %}
    <h4><a href="{% url 'login' %}">Login</a></h4>
    {% endif %}
    <h4><a href="{% url 'login' %}">Login</a></h4>
    <h4><a href="{% url 'signup' %}">SignUp</a></h4>

    <h1>파일 업로드</h1>
    <h4><a href="{% url 'postcreate' %}">PostCreate</a></h4>

    <h3><a href="{% url 'class' %}">클래스 이동</a></h3>

</html>