<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Index.html Page</h1>
    {% if request.user.is_authenticated %}
    {{request.user}}
    <h4><a href="{% url 'logout' %}">Logout</a></h4>
    {% else %}
    <h4><a href="{% url 'login' %}">Login</a></h4>
    {% endif %}
    <h4><a href="{% url 'login' %}">Login</a></h4>
    <h4><a href="{% url 'signup' %}">SignUp</a></h4>

    <h1>파일 업로드</h1>
    <h4><a href="{% url 'postcreate' %}">PostCreate</a></h4>

    <h1>포스트만 전체 보기</h1>
    <h4><a href="{% url 'showpostall' %}">전체 포스트 보기</a></h4>

    <div>
        <table border="1">
            <tr>
                <th>userId</th>
                <th>userId_id</th>
                <th>title</th>
                <th>body</th>
                <th>uploadDate</th>
                <th>updateDate</th>
                <th>img</th>
                <th>video</th>
                <th>likes</th>
            </tr>
            {% for post in posts %}
            <tr>
                <td><a href="{% url 'post_detail' post.userId_id %}">{{ post.userId }}</a></td>
                <td>{{ post.userId_id }}</td>
                <td>{{ post.title }}</td>
                <td>{{ post.body }}</td>
                <td>{{ post.uploadDate }}</td>
                <td>{{ post.updateDate }}</td>
                <td>
                    {% if post.photo %}
                    {{ post.photo }} <br>
                    <img style="width: 30%;" src="{{ post.photo.url }}" alt="">
                    {% endif %}
                </td>
                <td>
                    {% if post.video %}
                    {{ post.video }} <br>
                    <!-- <video width="30%" src="{{ post.video.url }}" controls></video> -->
                    {% endif %}
                </td>
                <td>
                    <form action="{% url 'modify_post' post.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="modify_post" value="수정">
                    </form>
                </td>
                <td>
                    <form action="{% url 'delete_post' post.id %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" name="delete_post" value="삭제">
                    </form>
                </td>
                <td>
                    <form method="POST" action="{% url 'new_comment' post.id %}">
                        {% csrf_token %}
                        {{ comment_form.as_p }}
                        <input type="submit" value="댓글 입력">
                    </form>
                    {% for comment in post.comment_set.all %}
                        {{ comment.userId }} - {{ comment }}
                            {% if request.user == comment.userId %}
                                <input type="submit" value="삭제">
                        {% endif %}
                        <br>
                    {% endfor %}
                </td>
                <td>
                    <form action="{% url 'likes' post.id %}" method="POST">
                        {% csrf_token %}
                        <p>
                            좋아요 수 : {{ post.likes_count }}
                        </p>
                        {% if request.user in post.likes_user.all %}
                        <input type="submit" value="dislike">
                        {% else %}
                        <input type="submit" value="like">
                        {% endif %}
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <h1>깃허브다날라갔따어써ㅜㅎ브</h1>
</body>

</html>