{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/myPage.css' %}">
<!-- main -->
<style>
    .main1 {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-gap: 1rem;
        grid-auto-rows: minmax(10em, auto);
        justify-items: start;
        width: 100%;
    }

    /* * {
        color: #ebebeb;
    } */
</style>
<!-- <div class="container" id="main-container"> -->

<h1 style="color: white;">{% for my in myprofile %}{{ my.nickname }}{% endfor %} - mypage.html</h1>
<hr>
<!-- 유저 모델 기본 프로필 -->
<h2>유저 모델 기본 프로필</h2>

<!-- 반복 시작 -->
{% for my in myprofile %}
<div id="show-profile">
    <p>MY PAGE</p>
    <div>
        {% if my.profilephoto %}
        <img src="{{ my.profilephoto.url }}" alt="">
        {% else %}
        <img src="{% static 'img/default_profile_img.png' %}" alt="">
        {% endif %}
        <div id="usernameAndEmail">
            <div id="username">
                {{my.username}}
            </div>
            <div id="user-role">
                {{my.danceSkill}}
            </div>
            <div id="user-email">
                {% if my.email %}
                {{my.eamil}}
                {% else %}
                sample@sample.com
                {% endif%}
            </div>

        </div>
        <div id="button-group">
            <button id="video-upload-btn">
                <a href="{% url 'postcreate' %}">영상 업로드</a>
            </button>
            <button id="enroll-class">
                <a href="{% url 'coursecreate' %}">클래스 업로드</a>
            </button>
        </div>
    </div>
</div>
<div id="section-head" style="margin-top:116px;">
    기본 정보
</div>
<hr>
<table>
    <form action="{% url 'modifyprofileimg' request.user.id %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <tr>
            <td style="width:200px"><span>사진</span></td>
            <td style="width:600px">
                {% if my.profilephoto %}
                <img src="{{ my.profilephoto.url }}" alt="">
                {% else %}
                <img src="{% static 'img/default_profile_img.png' %}" alt="">
                {% endif %}

            </td>
            <td>
                <!-- <form action="{% url 'modifyprofileimg' request.user.id %}" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="profileimg" id="" value="modify">
                    <input type="submit" name="" id="">
                </form> -->
                <input id="choose-profile-picture" style="display:block" type="file" name="profileimg" value="사진 변경" />
                <input type="submit" id="profile-save-btn" value="저장" stlye="display:none" />
            </td>
            <!-- <td>{{ my.nickname }}</td>
            <td>{{ my.danceSkill }}</td>
            <td>{{ my.email }}</td> -->
        </tr>
        <tr>
            <td><span>아이디</span></td>
            <td>{{my.username}}</td>
        </tr>
        <tr>
            <td><span>비밀번호</span></td>
            <td>********</td>
            <td><input type="button" id="change-password" value="비밀번호 변경" /></td>
        </tr>
        <tr>
            <td><span>이름</span></td>
            <td>{{my.nickname}}</td>
            <td><input type="button" id="change-name" value="이름 수정" /></td>
        </tr>
    </form>

    <!-- 반복 끝 -->
</table>

<div id="section-head" style="margin-top:116px">
    선택 정보
</div>
<hr>
<table>
    <tr>
        <td style="width:200px"><span>인스타그램</span></td>
        <td style="width:600px"><span>sik29401</span></td>
        <td><input type="button" id="change-instargram" value="수정" /></td>
    </tr>
    <tr>
        <td><span>경력</span></td>
        <td><textarea rows="5" cols="40"></textarea> </td>
        <td><input type="button" value="수정" /></td>
    </tr>
    </form>
    <div id="class-name-section">
        <span>Current Class</span>
        &nbsp;&nbsp;
        <img src="{% static 'img/orange_arrow.png' %}" />
    </div>
    <div id="detail-class-section">
        <img src="{% static 'img/sample_jpark.png' %}" />
        <img src="{% static 'img/sample_jpark.png' %}" />
        <img src="{% static 'img/sample_jpark.png' %}" />
        <img src="{% static 'img/sample_jpark.png' %}" />
    </div>
    <!-- 반복 끝 -->
</table>

<!-- 현재 수강중인 클래스 -->
<hr>
<h2>현재 수강중인 클래스</h2>
<table>
    {% for regcourse in myregcourse %}
    <tr>
        <td>Class Title : {{ regcourse.title }}</td>
        <td>Class Photo : {{ regcourse.photo }}</td>
        <td>Class Body : {{ regcourse.body }}</td>
    </tr>
    {% endfor %}
</table>

<hr>
<!-- 내가 올린 영상 출력 -->
<h2>내가 올린 영상</h2>

<table>
    <!-- 게시글 반복 시작 -->
    <tr>
        <th>게시글 제목</th>
        <th>사진</th>
        <th>설명</th>
        <th>좋아요 개수</th>
        <th>좋아요 누를 사람</th>
    </tr>
    {% for post in posts %}
    <tr>
        <td><a href="{% url 'post_detail' post.id %}">{{ post.title }}</a></td>
        <td>{{ post.body }}</td>
        <td>{{ post.photo }}</td>
        <td>{{ post.likes_count }}</td>
        <td>
            {% for i in post.likes_user.all %}
            {{ i.username }},
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    <!-- 게시글 반복 끝 -->
</table>
<hr>

<!-- 내가 좋아요한 영상 출력 -->
<h2>내가 좋아요한 영상</h2>
<table>
    <!-- 게시글 반복 시작 -->
    <tr>
        <th>게시글 제목</th>
        <th>사진</th>
        <th>설명</th>
        <th>좋아요 개수</th>
        <th>좋아요 누를 사람</th>
    </tr>
    {% for likedvideo in mylikedvideo %}
    <tr>
        <td><a href="{% url 'post_detail' likedvideo.id %}">{{ likedvideo.title }}</a></td>
        <td>{{ likedvideo.body }}</td>
        <td>{{ likedvideo.photo }}</td>
        <td>{{ likedvideo.likes_count }}</td>
        <td>
            <!-- 좋아요 누른 사람 출력 -->
            {% for i in likedvideo.likes_user.all %}
            {{ forloop.counter }}-{{ i.username }}
            <!-- forloop 마지막이 아니라면 , 찍기 -->
            {% if not forloop.last %},{% endif %}
            {% endfor %}
        </td>
    </tr>
    {% endfor %}
    <!-- 게시글 반복 끝 -->
</table>

<div id="image-slider">
    <img src="{% static 'img/white_arrow_left.png' %}" class="prev" />
    <div class="carousel-wrapper">
        <div class="carousel">
            <img src="https://images.unsplash.com/photo-1602808180309-2e0c62986635?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="" />
            <img src="https://images.unsplash.com/photo-1583434987437-1b9dcbe44c9e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="" />
            <img src="https://images.unsplash.com/photo-1603052227529-e8ed43c7af99?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60"
                alt="" />
        </div>
    </div>
    <img src="{% static 'img/white_arrow_right.png' %}" class="next" />
</div>
<script>
    const chooseProfilePicture = document.querySelector("#choose-profile-picture")
    const profileSaveBtn = document.querySelector('#profile-save-btn');
    profileSaveBtn.style.display = "none";
    chooseProfilePicture.addEventListener('click', () => {
        profileSaveBtn.style.display = "block";
    })
</script>
{% endfor %}
{% endblock %}