{% extends 'base.html' %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/news.css' %}">
<div id="news_title">벌써, 청하의 시간</div>
<div id="news_img_section">
    <img src="{% static 'img/sample_chungha.png' %}"/>
</div>
<div id="news_contnet_section">

    <pre id="news_content">
    
        “가수가 되고 싶었던 거지, 춤에 이렇게까지 열정을 갖게 될 거라고는 상상을 못했어요.”
    
    
        TV를 즐겨보는 모든 사람들이 청하를 안다고 가정할 때, 길 가는 누구를 붙잡고 물어도 반문할 것 같다. “청하가 이런 말을 했다고요?” 실제로 작업 과정에서 원고의 내용을 검토한 교정 담당자 분이 이렇게 질문했다. 그만큼 청하의 이름을 떠올리면서 그가 춤을 추는 모습을 상상하지 않기란 어려운 일이다. 청하는 정말로 자신이 가수가 될 줄 몰랐다. “솔직히 가수나 연예인이라는 꿈은 원래 누구나 한번쯤 꿔보는 거잖아요.” 그래서 학창시절까지만 해도 그 꿈이 자기 길이 맞는지 생각해본 적조차 없었다. 우연히 댄스학원에 갔다가, “계속 해도 될 것 같아요.”라는 선생님의 말에 흔들려서 본격적으로 춤을 추길 시작했을 뿐. 
        
        
        지금의 청하 씨를 생각하면 상상할 수 없는 모습이네요.
        
        
        여기까지 오게 된 계기도 특이해요. 여름방학 때 숙제를 다 끝내고 나니까 너무 심심하더라고요. 무료한 것도 싫고, 시간 버리는 게 아까워서 친구랑 장난삼아서 그랬어요. “우리 기숙사 들어가기 전에 댄스학원 한번 가보자!”
        
        
        청하는 이 이야기를 하면서 “진짜 웃긴데요.”라는 말을 몇 번씩 반복했다. “진짜 웃긴데요.”, “진짜 신기한 게요.”, “진짜 특이한데요.” 세 개의 문장이 자신의 과거를 이야기하는 내내 되풀이되었다. 실제로 들으면 들을수록 우연처럼 보이는 일이 많았다. 한 번도 자세하게 그려보지 못한 꿈이었다는 그의 말이 이해가 갔다. 
        
        
        경쟁 시스템 자체가 부담스러웠던 걸 수도 있겠네요.
        
        
        다 같이 힘들게 준비한 무대잖아요. 그런데 막상 첫 음원 공개를 앞두고 누군가는 방출이 돼서 헤어지게 되는 거라……. 서바이벌 프로그램이라는 점을 떠나서 일단은 나라는 사람이 너무 슬프더라고요.
        
        
        그러나 Mnet ‘프로듀스 101’이라는 프로그램이 만들어지면서, 청하는 제작진 입장에서 반드시 데려오고 싶은 연습생이 되었다. 이름난 기획사에 소속돼 있던 것도 아니고, 유명한 댄서였던 것도 아니었다. 하루하루 아르바이트를 하면서 미래를 고민하던 청하는, 그렇게 생각지도 못한 상황에서 초대장을 받았다. 그곳에서 I.O.I 멤버들을 만났고, 떠들썩하게 데뷔했지만 거기까지 다다르는 과정에서 힘든 일들이 생겨났다. ‘프로듀스 101’을 회상하면서 청하는 “이제 끝났으니까 말할 수 있는 거지만”이라는 전제를 붙이기도 했다. 몇 차례씩 혼자 생각에 잠겼다. “친구들과 싸워야 한다는 게 정말 싫었다. 그것도 내가 좋아하는 춤으로 싸우는 건 더 싫었다.”는 게 회상을 마친 그의 결론이었다. 청담동의 좁은 카페 룸 안에서 털어놓기 딱 좋은 정도의 속마음이었다.
        
        
        벌써 5년차 가수가 됐어요. I.O.I로 데뷔하고 난 후에 많은 것들이 바뀌었는데, 공백기 없이 쭉 활동을 이어왔다는 게 놀랍더라고요.
        
        
        얼마 전에 싱가포르 팬미팅 때 팬들이 만들어준 영상을 보고 감격했어요. 감사한 일이죠. 제가 그동안 활동을 쉬지 않고 이어 왔거든요. ‘프로듀스 101’ 첫 촬영 날부터 한 번도 쉬지 않고 달릴 수 있게 해준 힘이 팬들에게서 나온 것 같아요. 사실 I.O.I 멤버들이 있을 때는 나눠서 했던 일이었는데, 저 혼자니까 더 열심히 하게 되더라고요.
        
        
        『무대 위의 아이돌』  속 청하의 인터뷰는 위의 질문과 답변으로부터 시작된다. 이 내용을 가장 앞에다가 배치하지 않은 이유는 딱 하나다. 단 한 차례도 쉬지 않고 지금까지 달려올 수 있었던 힘에 관해 청하는 “팬들에게서 나온 것”이라고 하지만, 그들을 팬으로 만들 수 있었던 것은 청하 자신의 힘이었다. 
        
        
        청하와 찬미를 분리해서 바라보는 특별한 이유가 있나요.
        
        
        저에게 찬미는 좋은 추억이 있는, 강한 버팀목이 되는 사람이에요. 다시 제가 찬미로 돌아갈 수 있을지는 모르겠어요.
        
        
        그래서 찬미라고 불리면 뭉클할 때가 많아요.
        
        
        가끔씩 그의 얼굴이나 눈빛을 보면서 떠오르는 장점들을 하나씩 툭툭 말할 때마다, 그는 호탕하게 웃거나 아주 부끄러워하면서 고맙다고 응수했다. 그럴 때 청하에게서는 가수 청하의 원형인 20대 청년 김찬미가 보였다. 최근 몇 년 새에 청하가 거둔 높은 성과는 댄서로서든, 한 명의 자연인으로서든 애써 자신의 터를 마련해보려고 노력했던 김찬미의 것이라는 생각이 들었다. 찬미의 노력이 지금 청하가 살고 있는 시간을 만들었다. ‘청하의 시간’ 앞에 ‘벌써’라고 반가운 마음을 표현할 수 있었던 이유다.
    </pre>

</div>

{% endblock %}