<h1>post Page</h1>
<h3>게시글 개별 보기</h3>
<br>
<hr><br>
<h1>제목: {{ post.title }}</h1>
<h2>작성자: {{ post.userId }}</h2>
<br>
<h3>내용</h3>
{{ post.body }}

{% if post.video %}
{{ post.video }} <br>
<!-- <video width="30%" src="{{ post.video.url }}" controls></video> -->
{% endif %}

{% if request.user.is_authenticated %}
{% if post.userId == request.user %}
<form action="{% url 'delete_post' post.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" name="delete_post" value="삭제">
</form>
{% endif %}
{% endif %}


{% if request.user.is_authenticated %}
<form method="POST" action="{% url 'new_comment' post.id %}">
    {% csrf_token %}
    {{ comment_form.as_p }}
    <input type="submit" value="댓글 입력">
</form>
{% endif %}

{% for comment in post.comment_set.all %}
{{ comment.userId }} - {{ comment }}
{% if request.user == comment.userId %}
<form action="{% url 'delete_comment' comment.id %}" method="POST">
    {% csrf_token %}
    <input type="submit" name="delete_comment" value="삭제">
</form>
{% endif %}
<br>
{% endfor %}

<form action="{% url 'likes' post.id %}" method="">
    {% csrf_token %}
    <p>
        좋아요 수 : {{ post.likes_count }}
    </p>
    {% if request.user in post.likes_user.all %}
    <input type="submit" value="dislike">
    {% else %}
    <input type="submit" value="like">
    {% endif %}
</form>