{% extends 'base.html' %}
{% block content %}
{% load static %}

<div id="detail-section">

    <div class="title-sy">영상제목</div>
    <video src="" controls></video>
    <div class="info">조회수 17만회 | 좋아요 7만개 | 2022.07.30</div>
    <button style="background: #4366E3;margin-left: 1254px; margin-top: 1117px;">좋아요</button>
    <button style=" background: #FF5656;margin-left: 1360px; margin-top: 1117px;">싫어요</button>
    <hr style="border: 1px solid rgba(255, 255, 255, 0.3); 
                width: 980px;height: 0px; padding-left: 478px; margin-top: 1293px;">
    <hr style="border: 2px solid rgba(255, 255, 255, 0.3); 
    width: 980px;height: 0px; padding-left: 470px; margin-top: 1413px;">
    <div class="comment">댓글 30개</div>


</div>
{% endblock %}