{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
</head>

<body>
    <div class="mainbox">
        <div class="table-row">
            <div class="title-box">
                <header>
                    <a href="../home/home.html">CHOO:OOM</a>
                </header>
            </div>
            <section class="section-box">
                <h3>게시글 등록</h3>
                <form action="" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="title">제목</label>
                        <input type="text" class="form-control" id="title" placeholder="제목 입력(4-100)" name="title"
                            maxlength="100" required="required" pattern=".{4,100}">
                    </div>
                    <div class="form-group">
                        <label for="content">내용</label>
                        <!--  여러줄의 데이터를 입력하고 하고자 할때 textarea 태그를 사용한다. -->
                        <!--  textarea 안에 있는 모든 글자는 그대로 나타난다. 공백문자, tag, enter -->
                        <textarea class="form-control" rows="5" id="content" name="content"
                            placeholder="내용 작성"></textarea>
                    </div>
                    <p>
                        <label for="id_photo">사진</label>
                        <input type="file" name="photo" accept="image/*" id="id_photo">
                    </p>
                    <p>
                        <label for="id_video">비디오</label>
                        <input type="file" name="video" id="id_video">
                    </p>
                    <p>
                        <label for="id_genreName">장르</label>
                        <select name="genreName" required id="id_genreName">
                            <option value="" selected>---------</option>
                            <option value="1">힙합</option>
                            <option value="2">락킹</option>
                            <option value="3">왁킹</option>
                            <option value="4">팝핀</option>
                            <option value="5">하우스</option>
                            <option value="6">크럼프</option>
                            <option value="7">코레오그래피</option>
                        </select>
                    </p>
                    <input type="submit" class="btn btn-default" value="submit">등록
                </form>
        </div>
        <!-- <form action="" method="POST" enctype="multipart/form-data">
                <input type="hidden" name="csrfmiddlewaretoken" value="8AaxZA8ZJDw46BIxT7GW6EyMbPGcJdlpu7UCkHYSPRcxly7RxJVN9zHIiJzyzJhU">
                <p>
                    <label for="id_title">제목</label>
                    <input type="text" name="title" class="form-control" placeholder="글 제목 입력" rows="20" required id="id_title">  
                </p>
                <p>
                    <label for="id_body">소개</label>
                    <textarea name="body" class="form-control" placeholder="글 제목 입력" rows="20" cols="100" required id="id_body">
                    </textarea> 
                 </p>
                <p>
                    <label for="id_photo">사진</label>
                    <input type="file" name="photo" accept="image/*" id="id_photo"> 
                </p>
                <p>
                    <label for="id_video">비디오</label>
                    <input type="file" name="video" id="id_video"> 
                </p>
                <p>
                    <label for="id_genreName">장르</label>
                    <select name="genreName" required id="id_genreName">
                        <option value="" selected>---------</option>

                        <option value="1">힙합</option>

                        <option value="2">락킹</option>

                        <option value="3">왁킹</option>

                        <option value="4">팝핀</option>

                        <option value="5">하우스</option>

                        <option value="6">크럼프</option>

                        <option value="7">코레오그래피</option>

                    </select>
                </p>
                <input type="submit" value="submit">
                <hr>    
                </form> -->
        </section>
    </div>
    </div>
</body>

</html>