@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800&display=swap');

* {
    font-family : 'Montserrat';
    /* color: white; */
}
#body {
     background-color: black; 
}

.logo{
    width:200px;
    height:40px;
    display:inline-block;
}

#login{
    display:inline-block;
}
#searchBar{
    width:625px;
    height:40px;
    border-radius: 20px;
    background-color: #6A6A6A;
    margin-left:83px;
    background-image: url("../img/Search.png");
    background-repeat:no-repeat;
    background-position: 10px center;
    background-size:32px;
    padding-left:50px;
    color:white;
    display:inline-block;
}
#searchBar::placeholder{
    color:#FFFFFF;
    opacity: 50%;
}

#sign{
    margin-left:88px;
    font-size: 18px;
    font-weight:700;
    color:white;
    text-decoration: none;
}

#my-page{
    width:145px;
    height:44px;
    border-radius:10px;
    margin-left:51px;
    background-color: white;
    color:black;
    font-size: 18px;
    font-weight: 600;
    background-image: url("../img/user_icon.png");
    background-repeat: no-repeat;
    background-position: 10px center;
    background-size: 27px;
    padding-left: 35px;
}


#header-section{
    display:inline-block;
    margin-left: 100px;
    margin-top:3%;
}
#header-section p{
    color: white;
    font: bold 50px 'arial';
    display:inline-block;
    margin-left: 100px;
    margin-top:3%;
}
#main-container {
    /* background-image: url('../img/home/wallpaper.png'); */
    /* background-size: cover;
    background-attachment: fixed; */
    display: flex;
    min-width:70%;
    flex-direction: column;
    /* align-items: center; */
    margin-top:50px;
    margin-left:340px;
    /* color: white; */
}

#nav-bar {
    background-color: transparent;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.navLink{
        color:white;
        display:inline-block;
        text-decoration: none;
        margin-right:165px;
}

.nav-item{
    font-size:18px;
    color:white;
    font-weight: 600;
}

#class-section{
    margin-top:32px;
    background-color: #1A1A1A;
    display:flex;
    height:82px;
    align-items: center;
}

ul{
    display:inline-block;
}

li{
    float:left;
    list-style-type: none;
    
}

li a{
    padding-top:5px;
    margin-right:44px;
    display:flex;
    font-size: 16px;
    color:#646262;
    text-decoration: none;
}

#banner-section{
    height:606px;
    background-color: #646262;
    margin-bottom: 33px;
}
#detail-section{
    font-size:32px;
    font-weight:600;
    margin-top:180px;
    color:white;
}
#banner-section img{
    height:606px;
    background-color: #646262;
    margin-bottom: 33px;
    align-items: center;
}



#slider-section > img{
    width:10px;
    height:20px;
    cursor:pointer;
}

#slider-section{
    float:right;
    margin-right:370px;
    margin-top:48px;
    margin-bottom:57px; 
}

#detail-class-section{
    display:inline-block;
    margin-left:360px;
    margin-right:300px;
    text-align: center;
}

#detail-class-section > img{
    width:320px;
    height:444px;
    margin-right: 20px;
    margin-bottom: 26px;
    text-align: center;
}

#detail-class-section > img:hover{
    background-color: black;
    opacity: 30%;
    text-align: center;
}


#news-event-section{
    background-color: white;
    padding-top:68px;
    padding-bottom:112px;
    
    
}


table{
    margin-top:63px;
    margin-left:360px;
}

table{
    border-collapse: collapse;
    background-color: black;
}

td{
    margin:0px 10px 20px 10px;
}

td:hover >img{
    background-color: black;
    opacity: 30%;
}
#comment-section{
    background-color: black;
    font-size: 40px;
    font-weight: 600;
    color:white;
    margin-left: 360px;
    padding-top: 64px;
    padding-bottom: 127px;
}

#comment-section > p{
    color:orange;
}

.main-margin {
    /* padding-right: 10px; */
    /* padding-left: 10px; */
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.main-title {
    margin-top: 20px;
    margin-bottom: 20px;
}

.container {
    padding-right: 30px;
    padding-left: 30px;
}
