@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Gothic+A1&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.7),
        rgba(0, 0, 0, 0.7)
        ), url("./images/login_image.png");
    background-size: cover;
    background-attachment: fixed;
}

.container {
    margin: auto;
    width: 579px;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

header {
    font-size: 45px;
    font-weight: bold;
    color: white;
}

.find_password {
    font-size: 15px;
    color :white;
}

.find_password2 {
    margin-top: 25px;
    font-style: initial;
    font-weight: normal;
    font-size: 13px;
    padding: 5px;
    color: white;
}

header a {
    text-decoration: none;
}

section {
    width: 100%;
    margin: 10px auto 40px;
}

.sign_in {
    font-size: 1.2rem;
    margin-bottom: 1rem;
    color:white;
}

section a {
    text-decoration: none;
}

section input[placeholder] {
    font-size: 23px;
    padding-left: 30px;
    width: 100%;
    height: 70px;
    border: .5px solid #ddd;
    outline: none;
    transition: box-shadow.5s;
}

section input[placeholder]::placeholder {
    font-size: 23px;
}

section input:nth-of-type(1) {
    background-color: rgba(255, 255, 255, 0.6);
    border: rgba(255, 255, 255, 0.6);
    border-radius: 15px;
    margin-bottom: 15px;
}

section input[type="submit"] {
    display: block;
    width: 100%;
    height: 50px;
    border: 1px solid #FF5656;
    margin-top: 1rem;
    padding: .3rem;
    border-radius: 10px;
    font-size: 20px;
    background-color: #FF5656;
    color: white;
    outline: none;
    transition: all .5s;
    cursor: pointer;
}

section input[type="submit"]:hover {
    background-color: lightcoral;
    border: 1px solid lightcoral;
}

.forgot_id {
    font-size: 13px;
    color: white;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration-color: white;
}

footer {
    font-size: .6rem;
    color: white;
}