:root{
    --background-color:green
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--background-color);
    padding: 8px 12px;
}

.navbar__logo i {
    color: red;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: pink;
}

.navbar__menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding-left: 0;
}

.navbar__menu li {
    padding: 8px 30px;
}

.navbar__menu li ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__menu li:hover {
    background-color: black;
    border-radius: 3px;    
}

.navbar__icons {
    list-style: none;
    display: flex;
    color: blue;
    margin: 0;
    padding-left: 0;
}

.navbar__icons li {
    padding: 8px 12px;
    margin: 0;
}

@media screen and (max-width:700px) {
    .navbar {
        flex-direction: column; /* 내부 박스들이 열 형태 */
        align-items: flex-start; /* 내부 박스들이 왼쪽에서 시작 */
        margin: 0;
    }
    .navbar__menu {
        flex-direction: column;
        align-items: center;
        width: 100%;
        border: 1px solid purple;
    }
    .navbar__menu li {
        width: 100%;
        text-align: center;
    }
    .navbar__icons {
        /* display: none; */
        justify-content: center;
        width: 100%;
    }
}

body {
    margin: 0;
    background-color: lightgray;
}