*{
    position: sticky;
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
.mainbox {
    background-color: #11ffee00;
    background-image: url('../img/home/wallpaper.png');
    background-size: cover;
    background-attachment: fixed;
    width: 1004px;
    height: 1876px;
    padding: 30px;
    margin: 30px;
    margin-right: auto;
    margin-left: auto;
    /*border: 1px solid white;
    box-shadow: 0 1px 50px 0 rgb(255, 255, 255);*/
    
}
.header{ /*헤더 */
    height: 180px;
    box-sizing: border-box;
    /*border-bottom: 1px solid #999;*/
    background-color: transparent;
   
}

.top{
    display:inline-block;
    
}

.header__logo {
    margin-right: 100px;
    
}

.header__logo h1{ /*CHOO:OOM*/
    display: inline-block;
    font: bold 50px 'arial';
    padding-top: 20px;
    letter-spacing: 2px;
    color: white;
    background-color: transparent;
    
}

.top div, p {
    padding-left: 30px;
    display: inline-block;
    color: white;
}

.header__login { /*로그인*/
    display: inline-block;
    font: bold 10px 'arial';
    letter-spacing: 2px;
    color: black;
}
.header__login button{ /*검색 버튼*/
    display: inline-block;
    font: bold 15px 'arial';
    letter-spacing: 2px;
    border-radius: 25px; 
    margin: 5px 5px;
    padding-inline: 5px;
    text-align: center;
    cursor : pointer;
}

.header__login input{ /*검색창*/
    font: bold 17px 'arial';
    letter-spacing: 2px;
    color: black;
    border-radius: 25px;
}
.header__login p{
    margin: 10px;
    font: bold 18px 'arial';
    letter-spacing: 2px;
}
/*.header__gnb ul{
    margin-top: 90px;
    text-align: center;
}

.header__gnb ul li{
    display: inline-block;
}
.header__gnb ul li a{
    display: block;
    font: bold 20px 'arial';
    color: #999;
    margin: 0px 50px;
    letter-spacing: 1px;
}
*/


.header__gnb ul{
    margin-top: 50px;
    text-align: center;
    /*background: #666;*/
    color: black;
    z-index: 999999;
}

.header__gnb li{
    display: inline-block;

    z-index: 999999;
}

.header__gnb li a{ /*홈 클래스 비디오*/
    color: #999;
    font: bold 20px 'arial';
    display: block;
    line-height: 50px;
    margin: 0px 25px;
    padding: 0px 25px;
    text-align : center;
    letter-spacing: 1px;
    z-index: 999999
}
.header__gnb li a:hover, .header__gnb ul li:hover a{ /*홈 클래스 비디오 마우스 올렸을때*/
    background: rgb(31,31,31);
    color:white;
    height: 50px;
    z-index: 999999;
}

.header__gnb li ul{ 
    display: none; 
    position: absolute;
    /*top:1em;
    left:0;
    height: auto;
    border: 0px;*/
    z-index: 999999;
}

.header__gnb li:hover ul{
    display: block;
    z-index: 999999;
}

.header__gnb li li { /*힙합 코레오...*/
   background-color: black;
    position: relative;
    width: 170px;
    z-index: 999999;

}

.header__gnb li:hover li a{
    background:none;
    position: relative;
    color: white;
    z-index: 999999;
}

.header__gnb li ul a{
    display:block;
    height: 80px;
    font-size:14px;
    margin:0px 50px;
    padding:0px 10px 0px 15px;
    text-align:left;
}

.header__gnb li ul a:hover, .header__gnb li ul li:hover a{
    background: rgb(171,171,171);
    border:0px;
    color:black;
    text-decoration:none;
}

.header__gnb p{
    clear:left;
    z-index: 999999;
}
.header__gnb li:hover ul{
    display:block;
    z-index: 999999;
}

.main1 ul{ /*인기 동영상 top 10*/
    margin-top: 100px;
   z-index: -3;
}

.main1 ul li{
    float: left;
    position: relative;
    z-index: -3;
}

.main1 ul li a{
    display: block;
    position: relative;
    z-index: -1;
    font: bold 30px 'arial';
    color: white;
    margin: 0px 16px;
    font-size: 50px;
    background-color: transparent;
}

.next__button{
    float: right;
}

.next__button button{ /*< > 버튼*/
    text-align: center;
    font: bold 50px 'arial';
    font-size: 30px;
    margin: 10px;
    height: 50px;
    width: 30px;
    border-radius: 30px; 
    padding-inline: 20px;
    cursor : pointer;
    
}
.main2 ul{ /*실시간 top 10 클래스*/
    margin-top: 150px;
    background-color: transparent;
    float: left;
}

.main2 ul li{
    background-color: transparent;
}
.main2 ul li a{
    display: block;
    width: 700px;
    height: 90px;
    left: 400px;
    top: 1123px;
    
    font-weight: 700;
    font-size: 50px;
    line-height: 90px;
    background-color: transparent;
    color: white;
}
.next__button2{
    margin-top: 150px;
    float: right;
}
.next__button2 button{
    text-align: center;
    font: bold 50px 'arial';
    font-size: 30px;
    margin: 10px;
    height: 50px;
    width: 30px;
    border-radius: 30px; 
    padding-inline: 20px;
    cursor : pointer;
}
.box1{
    margin: 25px;
    padding: 10px;
    display: inline-block;
    background-color: #11ffee00;
    border: 1px solid white;
    background-color: black;
    width: 930px;
    height: 500px;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);
    /*임시로 사진 넣어둔 것*/
    background-image: url('dance.png');
    background-size: cover;
    z-index: -1;
  
}
.box2{
    margin: 30px;
    padding: 10px;
    display: inline-block ;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    width: 160px ; 
    height: 160px;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);
    background-image: url('holybang.png');
    
}
.box3{
    margin: 30px;
    padding: 10px;
    display: inline-block ;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    width: 160px ; 
    height: 160px;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);
    background-image: url('hook.png');
}
.box4{
    margin: 30px;
    padding: 10px;
    display: inline-block ;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    width: 160px ; 
    height: 160px;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);
    background-image: url('prowdmon.png');
    
}
.box5{
    margin: 30px;
    padding: 10px;
    display: inline-block ;
    border: 1px solid white;
    background-color: rgb(0, 0, 0);
    width: 160px ; 
    height: 160px;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);
    background-image: url('lachica.png');
}
.box6, .box7, .box8, .box9{
    margin: 30px;
    margin-bottom: 10;
    padding: 10px;
    display: inline-block ;
    color: white;
    background-color: transparent;
    width: 160px ; 
    height: 160px;
    text-align: center;
    /*border: 1px solid white;
    box-shadow: 0 1px 20px 0 rgb(255, 255, 255);*/
}


